# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/

# Bot local files
*.db
store/

# Python
__pycache__/
*.egg-info/
build/
dist/

# Log files
*.log

# Mounted Docker volume for configuration
data/**
!data/config.default.yaml

# credentials
ioibot/.env